<div class="container2">
  <div class="row">
    <div class="col col-lg-12">
      <div id="">
        <div style="width: 100%; margin-top: 10px;"><iframe frameborder="0" height="400" marginheight="0" marginwidth="0" scrolling="no" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=es&amp;coord= -12.0834992, -77.062601&amp;q=Avenida%20Brasil%202597%2C%20Jes%C3%BAs%20Mar%C3%ADa+(Mi%20nombre%20de%20egocios)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" width="100%">Crear Google Map by Mapa Espa&ntilde;a</iframe></div></div>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card2">
            <div class="card-body" style="background-color: rgb(242, 242, 242) !important;" >
              <h4 class="card-title   white-text center" style="text-align:center"><i style="color: black;" class="fas fa-envelope"></i></h4>
              <h4 class="text-center text-dark">Cont&aacute;ctanos v&iacute;a e-mail</h4>
              <h4 class="text-center "><a class="text-center text-dark" href="mailto:Informes@wtech.com.pe"><strong class="white-text" >Email :</strong> <span class="white-text">Informes@wtech.com.pe</span></a></h4>
              <h4 class="text-center text-dark">Descr&iacute;benos tu problema y te atenderemos a la brevedad.</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card2" >
            <div class="card-body" style="background-color: rgb(242, 242, 242) !important;" >
              <h4 class="card-title   white-text center" style="text-align:center"><i class="fas fa-address-card"></i></h4>
              <h4 class="text-center text-dark">Direcci&oacute;n</h4>
              <h4 class="text-center text-dark">Wtech Consultores</h4>
              <h4 class="text-center text-dark">Avenida Brasil 2597, Jes&uacute;s Mar&iacute;a</h4>
              <h4 class="text-center text-dark"><a href="tel:+59"><strong class="text-dark">Telefono: </strong><span class="text-dark">963705803 /</span> <span> </span></a><a href="tel:+59"><span class="text-dark">999773820</span></a></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card2">
            <div class="card-body" style="background-color: rgb(242, 242, 242) !important;" >
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="row">
                  <div class="col"style="margin-bottom:31px">
                  <input type="text" class="form-control" placeholder="First name">
                  </div>
                  <div class="col"style="margin-bottom:31px">
                    <input type="text" class="form-control" placeholder="Last name">
                  </div>
                </div>
                <div class="row" style="margin-bottom:31px">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Escribe tu mensaje">
                  </div>
                </div>
                <div class="row" style="margin-bottom:31px">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Telefono">
                  </div>
                </div>
                <div class="row"  >
                  <div class="col-auto">
                    <button class="btn  my-2 my-sm-0 btn2" type="submit">Enviar</button>
                  </div>
                </div>     
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
