<div class="container2">  
  <div class="row">
    <div class="col">
      <div class="card card1 shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h2>Misión</h2>
          <p class="justificar">Ser una Consultora y distribuidora líder en tecnología con  prestigio en el sector de prestación servicios profesionales a nivel nacional y regional, asistiendo a nuestros clientes en la obtención de sus metas empresariales, generando valor y de manera consecuente con nuestras creencias y valores.</p>
        </div>
        <div class="card-body ">
          <h2>Visión</h2>
          <p class="justificar">Somos una or­ga­ni­za­ción que, bajo una óptica in­no­va­do­ra, ética y res­pon­sa­ble, tiene por objetivo ser un socio es­tratégico y ge­ne­rar valor para sus clien­tes.</p>
        </div>
        <div class="card-body ">
          <h2>Objetivos</h2>
          <p class="justificar">Destacarnos por nuestra eficacia y celeridad en nuestra gestión y puesta en marcha de proyectos. Distinguirnos por ofrecer resultados, trabajando con responsabilidad y ética para el éxito de nuestros clientes.</p>
        </div>
      </div>
    </div>
    <div class="col">
        <img src="./../assets/img/nosotros.jpg" class="nosotros rounded-circle mx-auto d-block" alt="Responsive image">
    </div>
  </div>
</div>