<header>
  <div class="container2">
    <div class="row">
      <div class="col col-lg-6 ajustenav1">
          <a href="#!" class="navinfo1 a-top" title="Entra en tu cuenta" >HOLA, INICIA SESION</a>
      </div>
      <div class="col col-lg-6 d-flex flex-row-reverse ajustenav1">
          <ul class="list-unstyled">
              <li class="li-header1 navinfo2"><a class="navinfo1 " title="Necesitas ayuda?" href="sass.html">AYUDA </a></li>
              <li class="li-header1 navinfo2"><a class="navinfo1  " href="sass.html">SOLES - PERU <img class="bandera" src="http://flags.fmcdn.net/data/flags/w580/pe.png"> </a></li>
              <li class="navinfo2 li-header1 "><div class="dropdown">
                  <a class="btn dropdown-toggle navinfo1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MI CUENTA
                  </a>
                
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Ordenes</a>
                    <a class="dropdown-item" href="#">Configuracion</a>
                  </div>
                </div></li>
              <li class="navinfo2"><a class="navinfo1 a-navinfo3"href="badges.html">CARRITO DE COMPRAS (0) <i class="fas fa-shopping-basket"></i></a></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-6">
              <img class="profile-image img-responsive pull-left" src="../../assets/img/wt.png"  width="300" height="70" alt="Mizael Morales" />
      </div>
      <div class="col col-lg-6 d-flex flex-row-reverse">
          <ul class="list-unstyled">
            <li class="navinfo2 li-header1 ">
                  <div class="dropdown">
                  <a class="btn dropdown-toggle navinfo1 ajustemarca" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      MARCAS A-Z
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Ordenes</a>
                    <a class="dropdown-item" href="#">Configuracion</a>
                  </div>
                </div>
              </li>             
          </ul>
          <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2 barra " type="search" placeholder="Que deseas" aria-label="Search">
                  <button class="btn  my-2 my-sm-0 btn2" type="submit">Buscar</button>
          </form>
      </div>
    </div>
  </div>
  <div>
      <ul class="nav lineado justify-content-center">
          <li class="nav-item">
              <a class="btn nav-link ajuste-nav3-a ajust-nav3" href="#">NOSOTROS</a>
          </li>
          <li class="nav-item">
              <a class="btn nav-link ajuste-nav3-a ajust-nav3" href="#">TIENDA</a>
          </li>
          <li class="nav-item">
              <a class="btn nav-link ajuste-nav3-a ajust-nav3" href="#">SERVICIOS</a>
          </li>
          <li class="nav-item">
                  <a class="btn nav-link ajuste-nav3-a ajust-nav3" href="#">CONTACTO</a>
          </li>
      </ul>
  </div>
</header>


<router-outlet></router-outlet>


<footer class="lineado">
  <div class="container2">
      <div class="row">
          <div class="col col-lg-6">
                  <ul class="list-inline social-buttons">
                          <li class="list-inline-item">
                            <a href="#">
                              <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="#">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                          </li>
                        </ul>
          </div>
          <div class="col col-lg-6 text-right ">
                  <button class="text-right btn my-2 my-sm-0 btn2 centraboton" type="submit">INICIA SESSION</button>
          <a href="#!" class="navinfo1 a-top pull-left "  title="Entra en tu cuenta " >ENTRA EN NUESTRA TIENDA</a>                            
            
          </div>
      </div>   
  </div>
  <div class="lineado2">
      <div class="container2">
          <div class="row">
              <div class=" col-lg-3">
                      <li class="navinfo2 "><a class="btn navinfo1 a-navinfo3 ajusteboton"href="badges.html"><i class="fas fa-truck"></i> INFORMACION DE DELIVERY</a></li>
              </div>
              <div class=" col-lg-3">
                      <li class="navinfo2"><a class="btn navinfo1 a-navinfo3 ajusteboton"href="badges.html"><i class="fas fa-redo-alt"></i> DEVOLUCIONES Y CAMBIOS </a></li>
              </div>
              <div class="col-lg-3">
                      <li class="navinfo2"><a class="btn navinfo1 a-navinfo3 center ajusteboton"href="badges.html"><i class="far fa-question-circle"></i> CENTRO DE AYUDA </a></li>
              </div>
              <div class="col-lg-3">
                      <li class="navinfo2"><a class="btn navinfo1 a-navinfo3 ajusteboton"href="badges.html"><i class="far fa-address-card"></i> INFORMACION DE CONTACTO</a></li>
              </div>
          </div>
      </div>
  </div>
  <div class="container2">
      <div class="row">
          <div class=" col-lg-3">
              <ul class="list-unstyled">
                  <li class="li1">
                      <h4>AYUDA</h4>
                  </li>
                  <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> INFORMACION DE CONTACTO</a></li>
                  <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> AYUDA</a></li>
                  <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> INFORMACION DE DELIVERY</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
                  <ul class="list-unstyled">
                          <li class="li1">
                              <h4>LINKS RAPIDOS</h4>
                          </li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> RECLAMOS</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> REGISTRO</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> NOSOTROS</a></li>
                      </ul>
          </div>
          <div class="col-lg-3">
                  <ul class="list-unstyled">
                          <li class="li1">
                              <h4>LEGAL</h4>
                          </li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> SITE MAP</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> POLITICA DE PRIVACIDAD</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> TERMINOS Y CONDICIONES</a></li>
                      </ul>
          </div>
          <div class="col-lg-3">
                  <ul class="list-unstyled">
                          <li class="li1">
                              <h4>DETALLE DE CONTACTO</h4>
                          </li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> HORARIO DE ATENCION</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> LUNES A VIERNES:8am - 8pm</a></li>
                          <li><a class="navinfo1 a-navinfo3 ajusteboton"href="badges.html"> Tel: +51 9253443</a></li>
                      </ul>
          </div>
      </div>
  </div>
  <div class="foot">
      <div class="container2">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">Copyright &copy; WTECNOLOGY</span>
              </div>
              <div class=" col-md-4  offset-4 d-flex flex-row-reverse">
                      <ul class="list-inline quicklinks">
                        <li class="list-inline-item ">
                          <a class="copyright" href="#">POLITICA DE PRIVACIDAD</a>
                        </li>
                        <li class="list-inline-item">
                          <a class="copyright" href="#">TERMINOS DE USO</a>
                        </li>
                      </ul>
                    </div>
          </div>  
      </div>
      
  </div>
</footer>

